.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: rgb(18,18,18);
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  .main{
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
}